
<app-nav></app-nav>

<router-outlet></router-outlet>
<!-- <div class="container">
    <div class="row">
        <div class="col-7 mx-auto"><p class="bg-warning">main-page works!</p>
<p  >xyz works!</p>
<h2>sıradakı</h2>
<p>uygulamaya ne ekliyceksin?</p>
<button class="btn btn-success">Bootstrap Demo</button><button class="btn btn-success">Bootstrap Demo</button>
<p>xyz works!</p>
<h2>sıradakı</h2>
<p>düzeldi</p>
<button class="btn btn-success">Bootstrap Demo</button>
<button class="btn btn-success">Bootstrap Demo</button>
<button class="btn btn-danger">selam tehlikeli</button>
<button class="btn btn-danger">selam tehlikeli</button>
<button class="btn btn-danger">selam tehlikeli</button>
<button class="btn btn-danger">selam tehlikeli</button>
        </div></div></div> -->