
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="home">Abone SU Yonetim</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="members">Abonelik <span class="sr-only"></span></a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="lists">Abone ücret listesi<span class="sr-only"></span></a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="yonetim">Yönetim<span class="sr-only"></span></a>
      </li>    
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="kullaniciadi" placeholder="Kullaniciadi" required/>
      <input class="form-control mr-sm-2" type="password" name=sifre placeholder="Sifre" required/>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form> -->
  </div>
</nav>