<p>main-page works!</p>
<div class="container">
    <div class="row">
        <div class="col-7 mx-auto"><p class="bg-warning">main-page works!</p>
<p class="bg-warning">main-page works!</p>
<button class=”btn” btn-success>Bootstrap Demo</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-success" >Bootstrap Demo</button>
<div class="col-5 mx-auto">
     <h3 class="bg-primary text-white p-3"> 
        Ahmet' in listesi
     </h3> 


        <table class="table table bordered">
            <thead>
            <tr> 
                <th>müşteri no</th> 
                <th>müşteri adı</th> 
                <th>müşteri soyad </th> 
            </tr> 
                </thead>
            <tbody>
                 <tr> 
                    <td>10022343</td>
                    <td>çirkin</td>
                    <td>özay</td>
                 </tr> 
                 <tr> 
                    <td>10022323</td>
                    <td>ipek nur</td>
                    <td>günümdoğdu</td>
                 </tr> 
                 <tr> 
                    <td>10022313</td>
                    <td>fatih</td>
                    <td>koç</td>
                 </tr> 
                 <tr> 
                    <td>10022363</td>
                    <td>nazenin</td>
                    <td>özay</td>
                 </tr> 
            </tbody> 
        </table>
        </div> 
    

<button type="button" class="btn btn-link">Link</button>
<p class="bg-warning">main-page works!</p>
<p class="bg-warning">main-page works!</p>
<p class="bg-warning">main-page works!</p>
<p class="bg-warning">main-page works!</p>
<p class="bg-warning">main-page works!</p>
<p class="bg-warning">main-page works!</p>
<div class=”container”>
    <button class=”btn btn-success”>Bootstrap Demo</button>
    </div>
        </div>
    </div>

</div>

