<br><br><br><br>
<div class="container">
    <div class="row">
      <div class="row">
         <div class="col">
            <form>
               <div class="form-group row">
                 <label for="ad" class="col-4 col-form-label">ad</label> 
                 <div class="col-8">
                   <div class="input-group">
                     <div class="input-group-prepend">
                       <div class="input-group-text">AD</div>
                     </div> 
                     <input id="ad" name="ad" placeholder="AD" type="text" required="required" class="form-control">
                   </div>
                 </div>
               </div>
               <div class="form-group row">
                 <label for="soyad" class="col-4 col-form-label">soyad</label> 
                 <div class="col-8">
                   <div class="input-group">
                     <div class="input-group-prepend">
                       <div class="input-group-text">SOYAD</div>
                     </div> 
                     <input id="soyad" name="soyad" placeholder="SOYAD" type="text" class="form-control" required="required">
                   </div>
                 </div>
               </div>
               <div class="form-group row">
                  <label for="arama" class="col-4 col-form-label">arama</label> 
                  <div class="col-8">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">ARAMA</div>
                      </div> 
                      <input id="arama" name="arama" placeholder="ARA" type="text" class="form-control">
                    </div>
                  </div>
                </div>  
               <div class="form-group row">
                 <div class="offset-4 col-8">
                   <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                 </div>
               </div>
             </form>
         </div>
         <div class="col">
           2 of 3
         </div>
         <div class="col">
           3 of 3
         </div>
       </div>
        <div class="col-15 mx-auto">
         
        </div>
            <div class="col-15 mx-auto">
            </div>
                <h3 class="bg-primary text-white p-3"> 
                   Abonelik
                </h3> 
           
           
                   <table class="table table bordered">
                       <thead>
                       <tr> 
                           <th>Abone no</th> 
                           <th>Abone adı</th> 
                           <th>Abone soyad </th> 
                       </tr> 
                           </thead>
                       <tbody>
                            <tr> 
                               <td>10022343</td>
                               <td>çirkin</td>
                               <td>özay</td>
                            </tr> 
                            <tr> 
                               <td>10022323</td>
                               <td>ipek nur</td>
                               <td>günümdoğdu</td>
                            </tr> 
                            <tr> 
                               <td>10022313</td>
                               <td>fatih</td>
                               <td>koç</td>
                            </tr> 
                            <tr> 
                               <td>10022363</td>
                               <td>nazenin</td>
                               <td>özay</td>
                            </tr> 
                       </tbody> 
                   </table>
                   </div> 
            
        </div>