<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-15 mx-auto">
            <div class="col-15 mx-auto">
                <h3 class="bg-primary text-white p-3"> 
                   Abone Ücret Listesi
                </h3> 
           
           
                   <table class="table table bordered">
                       <thead>
                       <tr> 
                           <th>Abone no</th> 
                           <th>Abone adı</th> 
                           <th>Abone soyad </th> 
                       </tr> 
                           </thead>
                       <tbody>
                            <tr> 
                               <td>10022343</td>
                               <td>çirkin</td>
                               <td>özay</td>
                            </tr> 
                            <tr> 
                               <td>10022323</td>
                               <td>ipek nur</td>
                               <td>günümdoğdu</td>
                            </tr> 
                            <tr> 
                               <td>10022313</td>
                               <td>fatih</td>
                               <td>koç</td>
                            </tr> 
                            <tr> 
                               <td>10022363</td>
                               <td>nazenin</td>
                               <td>özay</td>
                            </tr> 
                       </tbody> 
                   </table>
                   </div> 


        </div></div></div>